* {
    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
}

#header_container {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    text-align: center;
}

#logo {
    display: inline-block;
    margin-top: 20px;
}

#gnb {
    float: right;
}

#gnb ul li{
    float: left;
}

#gnb ul li a {
    display: inline-block;
    padding: 40px 0;
    font-size: 19px;
    font-weight: bold;
    width: 180px;
    color:midnightblue;
}

#visual{
    background: url(
        "./images/main1.png") no-repeat;
    height: 500px;
}

#contents_section {
    width: 1200px;
    margin: 20px auto 0 auto;
}

#container {
    width: 50%;
    overflow: hidden;
}

#container li {
    float: left;
    width: 40%;
    height:190px;
    font-size: 20px;
    border: 1px solid #ececec;
    padding: 20px
    
}

#container p {
    font-size: 12px;
    width: 160px;
    
}

#container span {
    display: block;
    margin-top: 20px;
    font-size: 12px;
}

#container a {
    display:inline-block;
    margin-top: 30px;
    font-size: 16px;
}