* {
    margin: 0;
    padding: 0;
}


div {
    display: block;
}

#wrap {
    width: 100%;
    height: 100%;
}

#visual{
    clear: both;
}

a {
    text-decoration: none;
    text-align: center;
}

li {
    list-style: none;
}

#logo {
    display: inline-block;
    margin-top: 20px
}


#container, #header_container{
    width: 1200px;
    margin: 0 auto;
 
}

#header, #container {
    width: 100%;
    margin: 0 auto;
    
}

#header{
    overflow: hidden;
}

#gnb{
    float: right;
}

#gnb li{
    float: left;
}

#gnb li a{
    display: inline-block;
    width: 180px;
    padding: 40px 0;
    color: #004385;
    font-size: 19px;
    font-weight: bold;
}

#container {
    width: 100%;
    margin: 20px auto 0 auto;
}

#contents {
    width: 1200px;
    margin: 0 auto;
}

#con_lecture {
    width: 50%;
    float: left;
}



#con_lecture li{
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    height: 230px;
    border: 1px solid #ececec;
}

#con_lecture li span{
    display: block;
    font-size: 12px;
    color: #4689e1;
}

#con_lecture li p {
    margin-top: 30px;
    color: #666666;
}

#con_lecture > ul >  li > a{
    display: inline-block;
    margin-top: 40px;
    background: skyblue;
    color: #eee;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

#con_lecture li:nth-child(1){
    background: url(
    "./images/main_con_ic_01.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li:nth-child(2){
    background: url(
    "./images/main_con_ic_02.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li:nth-child(3){
    background: url(
    "./images/main_con_ic_04.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li:nth-child(4){
    background: url(
    "./images/main_con_ic_05.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li:nth-child(5){
    background: url(
    "./images/main_con_ic_05.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li:nth-child(6){
    background: url(
    "./images/main_con_ic_05.png"
    )bottom right no-repeat;
    background-position: 172px 109px;
}

#con_lecture li dt,
#con_lecture li dt a,
#con_lecture li dd{
    
    color:#666666;
    font-size:12px;
}
#con_lecture li dt{
   width: 70%;
   margin: 0;
   float: left;
   line-height: 32px;
}

#con_lecture li dd{
    width: 30%;
    margin: 0;
    float: left;
    line-height: 32px;
}
   

.btn_kakao{
    margin-left: 65px;
    border: none;;
}

.main_con_interview{
    width: 50%;
    height: 415px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}

.main_con_interview a {
    color: #666;
}

.main_con_interview h4{
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.main_con_interview img{
    border: 1px solid #ececec;
    margin-top: 20px;
}

.content h3{
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
}


.con_community{
    width: 50%;
    float: left;
    
}

.con_community > ul > li > h3 > a {
    float: right;
}

.bg_gray{
    display: inline-block;
    width: 50%;
    height: 415px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.main_review p{
    font-size: 12px;
    color: #666;
    text-align: right;
}

.main_review {
    margin-top: 20px;
}

.bg_gray a{
    font-size: 12px;
    color: #666;
}

.main_review li{
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #ececec;
    line-height: 20px;
}

.con_teacher {
    border: 1px solid #ececec;
    clear:both;
}

.con_teacher a {
    float: right;
}

.con_teacher h3 {
    padding: 20px;
}

.con_teacher iframe {
    margin: 0 auto;
}

#content {
    text-align: center;
}

.bbs_con_img img{
    width: 348px;
    height: 198px;
}

#content_section{
    margin-top: 30px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

#container{
    width: 1200px;
    margin: 0 auto;
}

.main_bbs div{
    width: 390px;
    margin-right: 15px;
    box-sizing: border-box;
}

.main_bbs span{
    display: block;
    font-size: 12px;
    color: #4689e1;
}

.main_bbs h2 {
    font-size: 23px;
}

.main_bbs dt{
    margin-top: 20px;
}

.main_bbs dd{
    text-align: center;
}

.main_bbs .ki_story {
    background-image: url(
        "http://www.kiweb.or.kr/images/main_new/main_bbs_ic_01.png"
    );
    background-repeat: no-repeat;
    background-position: 300px 10px;
}

.main_bbs .ki_broadcast {
    background-image: url(
        "http://www.kiweb.or.kr/images/main_new/main_bbs_ic_02.png"
    );
    background-repeat: no-repeat;
    background-position: 300px 10px;
}

.main_bbs .ki_column {
    background-image: url(
        "http://www.kiweb.or.kr/images/main_new/main_bbs_ic_03.png"
    );
    background-repeat: no-repeat;
    background-position: 300px 10px;
}

.footer_menu{
    display: block;
}
.footer{
    width: 100%;
    margin-top: 50px;
    padding: 20px 0;
    text-align: left;
    background: #323232;
    box-sizing: border-box;
}

.footer_menu li{
    display: inline-block;
    float: left;
    text-align: center;
    text-decoration: none;
}

.footer_menu ul{
    display: block;

}

.footer_menu li a{
    color:#AEAEAE;
    font-size: 12px;
    padding: 0 10px;
}

.container h1 {
    display: inline-block;
    margin-top: 30px;
    margin-left: 20px;
    float:left;
}

.footer_copyright{
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 12px;
    line-height: 22px;
    color: #AEAEAE;
}

p.copyright{
    margin-top: 10px;
}


.footer_menu ul li:after{
    content: "|";
    font-size: 12px;
    color: #555;
}

.footer_menu ul li:last-child:after {
    content: "" !important;
}

.footer_menu ul li:last-child{
    font-weight: bold;
}

.main_bbs .bbs_con_list li a:before {
    content: " - ";
}

#con_lecture dl dt a:before {
    content: " - ";
}

.bbs_con_list li {
    line-height: 32px;
}

.bbs_con_list{
    margin-top: 20px;
}

.banner_img{
    background:
    url(
        "http://www.kiweb.or.kr/images/main/top_bg.gif"
    )center no-repeat;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}

.top_banner{
    background: #333333;
}

.top_banner td{
    font-size: 17px;
    width: 33%;
    text-align: right;
    padding-top: 5px;
    padding-right: 25px;
    box-sizing: border-box;
}


.top_banner td:nth-child(2){
   
    padding-right: 60px;
    
}

.top_banner td:last-child{
    text-align: left;
    padding-left: 40px;
}

.top_banner table{
    width: 100%;
}

.top_banner table{
    margin: 0 auto;
}
