* {
    margin: 0;
    padding: 0;
}

#logo {
    margin-top: 20px;
    display:inline-block;
}

li {
    list-style: none;
}

#header {
    width:100%;
    float:left;
    background: white;
}

#container {
    width: 1200px;
    margin: 0 auto;

}

#gnb{
    float: right;
}

#gnb ul li {
    float:left;
}

#gnb ul li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    color: midnightblue;
    width:180px;
    padding: 40px 0;
}